<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Adding a book</title>
</head>
<body>
	<div>
		<form method="post" action="Create">
			<table>
				<caption>New Book</caption>
				<tr><th>ISBN:</th><td><input type="text" min="12" maxlength="14" name="ISBN" required/></td></tr>
				<tr><th>Name:</th><td><input type="text" name="name" required/></td></tr>
				<tr><th>Publication house:</th><td><input type="text" name="izdavackaKuca" required/></td></tr>
				<tr><th>Autor:</th><td><input type="text" name="autor" required/></td></tr>
				<tr><th>Release Date:</th><td><input type="date" name="releaseYear" required/></td></tr>
				<tr><th>Description:</th><td><input type="text" name="description" required/></td></tr>
				<tr><th>Picture:</th><td><input type="text" name="picture" required/></td></tr>
				<tr><th>Price:</th><td><input type="number" name="price" required/></td></tr>
				<tr><th>Page count:</th><td><input type="number" name="pageCount" required/></td></tr>
				<tr><th>Book cover:</th><td>
				<select name="isHard">
  					<option value="true">Hard</option>
  					<option value="false">Paper</option>
				</select></td></tr>
				<tr><th>Letter:</th><td>
				<select name="isLatinica">
  					<option value="true">Latinica</option>
  					<option value="false">Cirilica</option>
				</select></td></tr>
				<tr><th>Language:</th><td><input type="text" name="language" required/></td></tr>
				<tr><th>Average Grade</th><td>
				<select name="avgGrade">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select></td></tr>
				<tr>
					<th>Zanr:</th>
					<td>
						<th:block th:each="itZanr: ${zanrovi}">
							<input type="checkbox" name="zanrId" th:value="${itZanr.id}"/><span th:text="${itZanr.name}"></span><br>
						</th:block>
						<tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
					</td>
				</tr>			
			</table>
		</form>
		<ul>
			<li><a href="Knjige">Back</a></li>
		</ul>
	</div>

</body>
</html>