<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pocetna</title>
</head>
<body>
	<h2>Bookstore</h2>
	<ul>
		<li><a href="Knjige">Books</a></li>
	</ul>
	<table class="korisnik"
		th:if="${session.prijavljeniKorisnik != null}">
		<tr>
			<th>You are logged in as:</th>
			<td><a
				th:href="|Korisnici/Details?username=${session.prijavljeniKorisnik.username}|"
				th:text="${session.prijavljeniKorisnik.username}"></a>.</td>
		</tr>
		<tr>
			<td colspan="2">
				<ul>
					<li><a href="Korisnici/Logout">Logout</a></li>
					<li th:if="${session.prijavljeniKorisnik.admin}">
					<a href="Komentar">Comments</a></li>
					<li th:if="${session.prijavljeniKorisnik.admin}">
					<a href="Izvestaj">Izvestaj</a></li>					
					<li th:if="${session.prijavljeniKorisnik.admin}">
					<a href="LoyaltiKartica">Loyalti Kartice</a>
					<li th:if="${session.prijavljeniKorisnik.admin}">
					<a href="Korisnici">Korisnici</a>
					<li th:if="${session.prijavljeniKorisnik.admin}">
					<a href="Korisnici/EditKorisnik">Izmena Korisnika</a>
					EditKorisnik
				</ul>
			</td>
		</tr>
	</table>
	<table class="korisnik" th:if="${session.prijavljeniKorisnik == null}">
		<tr>
			<th>You are not logged in</th>
		</tr>
		<tr>
			<td>
				<ul>
					<li><a href="Korisnici/Register">Registration</a></li>
					<li><a href="Korisnici/Login">Login</a></li>
				</ul>
			</td>
		</tr>
	</table>
</body>
</html>