<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="css/Stranice.css"/>
<head>
<title>Knjiga</title>
</head>
<body>
	<div></div>
		<form method="post" action="Edit">
			<table>
				<caption>Izmena</caption>
				<input type="hidden" name="ISBN" th:value="${knjiga.ISBN}"/>
				<tr><th>Naziv:</th><td><input type="text" name="name"th:value= "${knjiga.name}" required/></td></tr>
				<tr><th>Izdavacka kuca:</th><td><input type="text" name="izdavackaKuca" th:value= "${knjiga.izdavackaKuca}" required/></td></tr>
				<tr><th>Autor:</th><td><input type="text" name="autor" th:value= "${knjiga.autor}" required/></td></tr>
				<tr><th>Datum izdavanja:</th><td><input type="date" name="releaseYear" th:value= "${knjiga.releaseYear}" required/></td></tr>
				<tr><th>Opis:</th><td><input type="text" name="description" th:value= "${knjiga.description}" required/></td></tr>
				<tr><th>Slika:</th><td><input type="text" name="picture" th:value= "${knjiga.picture}" required/></td></tr>
				<tr><th>Cena:</th><td><input type="number" name="price" th:value= "${knjiga.price}" required/></td></tr>
				<tr><th>Broj stranica:</th><td><input type="number" name="pageCount" th:value= "${knjiga.pageCount}" required/></td></tr>
				<tr><th>Tip korice:</th><td>
				<select name="isHard" th:value= "${knjiga.isHard}">
  					<option value="true">Cvrsta</option>
  					<option value="false">Papirna</option>
				</select></td></tr>
				<tr><th>Pismo:</th><td>
				<select name="isLatinica" th:value= "${knjiga.isLatinica}">
  					<option value="true">Latinica</option>
  					<option value="false">Cirilica</option>
				</select></td></tr>
				<tr><th>Jezik:</th><td><input type="text" name="language" th:value= "${knjiga.language}" required/></td></tr>
				<tr>
					<th>Zanr:</th>
					<td>
						<th:block th:each="itZanr: ${zanrovi}">
							<input type="checkbox" name="zanrId" th:value="${itZanr.id}"/><span th:text="${itZanr.name}"></span><br>
						</th:block>
						<tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
					</td>
				</tr>	
		</table>
	</form>
</body>
</html>