<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/Stranice.css" />
<head>
<title>Knjige</title>
</head>
<body>
	<div>
		<div>
				<table>
					<tr>
						<form method="get" action="">
						
						<th>
							<label >Pocetni datum</label>
							<input name = "firstDate" type="date"/>
						</th>
						<th>
							<label >Krajnji datum</label>
							<input name = "secondDate" type="date" />
						</th>	
							<th>
								<select name="sort">
									<option value=""></option>
									<option value="cenaProdatih">Price</option>
									<option value="brojProdatijh">Broj Prodatih Primeraka</option>
								</select>
							</th>
							<th>
								<select name="order">
									<option selected value = ""></option>
									<option value="ASC">Asc</option>
									<option value="DESC">Desc</option>
								</select>
							</th>
							<th><input type="submit" value="Pretraži" /></th>

						</form>
					</tr>
				</table>

		</div>

		<div>
			<table>
				<caption>Izvestaj</caption>
				<thead>
				<tr>
				<th>Naziv knjige</th>
				<th>Ime autora</th>
				<th>Broj prodatih knjiga</th>
				<th>Ukupna cena prodatih knjiga</th>
				</tr>
				</thead>
				<tbody th:unless="${#lists.isEmpty(izvestaji)}">
					<tr  th:each="itIzvestaj: ${izvestaji}">
					<td><a th:href="|Knjige/Details?ISBN=${itIzvestaj.prodataKnjiga.ISBN}|"
						   th:text="${itIzvestaj.prodataKnjiga.name}"></a></td>
					<td th:text="${itIzvestaj.prodataKnjiga.autor}"></td>
					<td th:text="${itIzvestaj.brojProdatijh}"></td>
					<td th:text="${itIzvestaj.cenaProdatih}"></td>
				</tr>
				</tbody>
				
			</table>
		</div>
	</div>
</body>
</html>