<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/Stranice.css" />
<head>
<title>Knjige</title>
</head>
<body>
	<div>
		<div>
				<table>
					<tr>
						<form method="get" action="">
							<th></th>
							<th th:unless="${session.prijavljeniKorisnik == null}">ISBN:<input
									type="search" name="ISBN" th:value="${param.ISBN}?: null" /></th>
							<th>
							<th>Ime:<input type="search" name="name"
										   th:value="${param.name}?: null" /></th>
							<th>
							<th>Cena:<input type="search" name="price"
											th:value="${param.price}?: null" /></th>
							<th>
							<th>Autor:<input type="search" name="autor"
											 th:value="${param.autor}?: null" /></th>
							<th>
							<th>Language:<input type="search" name="language"
												th:value="${param.language}?: null" /></th>

							<th>
								<select name="sort">
									<option selected value="ISBN">ISBN</option>
									<option value="price">Price</option>
									<option value="name">Name</option>
									<option value="autor">Autor</option>
									<option value="language">language</option>
								</select>
							</th>
							<th>
								<select name="order">
									<option selected value="ASC">Asc</option>
									<option value="DESC">Desc</option>
								</select>
							</th>
							<th><input type="submit" value="Pretraži" /></th>

						</form>
					</tr>
				</table>

		</div>

		<div>
			<table>
				<caption>Izvestaj</caption>
				<thead>
				<tr>
				<th>Naziv knjige</th>
				<th>Slika korice</th>
				<th>Cena knjige</th>
				<th>Prosecna cena knjige</th>
				</tr>
				</thead>
				<tr th:each="itKnjiga, status: ${knjige}">
					<td><a th:href="|Knjige/Details?ISBN=${itKnjiga.ISBN}|"
						   th:text="${itKnjiga.name}"></a></td>
					<td><img style="width: 100px; height: 100px"
							 th:src="${itKnjiga.picture}" alt="slika" /></td>
					<td th:text="${itKnjiga.price}"></td>
					<td th:text="${itKnjiga.avgGrade}"></td>
					<form method="post" action="Korpa/Kupi">
						<input type="hidden" name="knjigaISBN" th:value=${itKnjiga.ISBN}>
						<td><button type="submit"
									th:unless="${session.prijavljeniKorisnik == null}">Kupi</button></td>

					</form>
				</tr>
			</table>
		</div>

		
		<ul>
			<li><a href="Korpa/Details"
				th:unless="${session.prijavljeniKorisnik == null}">Check the basket</a></li>
		</ul>
			<ul>
			<li th:if="${session.prijavljeniKorisnik.admin}">
			<a href="Knjige/Create"
				th:unless="${session.prijavljeniKorisnik == null} ">Add a book</a></li>
		</ul>
		
	</div>
</body>
</html>