<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="css/Stranice.css" />
<head>
<meta charset="UTF-8">
<title>Book</title>
<link rel="stylesheet" type="text/css" href="css/Stranice.css" />
</head>
<body>
	<div>
		<input type="hidden" name="ISBN" th:value="${knjiga.ISBN}" />
		<table class="tabela">
			<caption th:text="${knjiga.name}"></caption>
			<caption th:text="${knjiga.ISBN}"></caption>
			<caption th:text="${knjiga.izdavackaKuca}"></caption>
			<caption th:text="${knjiga.autor}"></caption>
			<caption th:text="${knjiga.releaseYear}"></caption>
			<caption th:text="${knjiga.description}"></caption>
			<img style="width: 200px; height: 200px" th:src="${knjiga.picture}" alt="slika" />
			<caption th:text="${knjiga.price}"></caption>
			<caption th:text="${knjiga.pageCount}"></caption>
			<caption th:text="${knjiga.hard}"></caption>
			<caption th:text="${knjiga.latinica}"></caption>
			<caption th:text="${knjiga.language}"></caption>
			<caption th:text="${knjiga.avgGrade}"></caption>
			<form method="post" action="Delete">
				<input  th:unless="${session.prijavljeniKorisnik == null and session.prijavljenKorisnik.admin}" type="submit" value="Obrisi" />
			</form>
		</table>
		<form method="get" action="Edit"
			th:unless="${session.prijavljeniKorisnik == null and session.prijavljenKorisnik.admin}">
			<input type="hidden" name="ISBN" th:value="${knjiga.ISBN}" /> <input
				type="submit" value="Izmeni" />
		</form>
		<form method="get">
			<table>
				<caption>Comments</caption>
				<tr>
				<tr th:each="itKomentar, status: ${komentari}">
					<td><a th:href="|Komentar/Details?id=${itKomentar.id}|"
						th:text="${itKomentar.id}"></a></td>
					<td th:text="${itKomentar.text}"></td>
					<td th:text="${itKomentar.grade}"></td>
			</table>
		</form>
		<ul>
			<li>
			<form action="NewComment" method="get" >
			<input th:unless="${session.prijavljeniKorisnik == null}" type="hidden" name="ISBN" th:value="${knjiga.ISBN}" />
			<button>Leave a comment</button>
			</form>
			
		</ul>
	</div>
</body>
</html>