<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
<title>Comments</title>
</head>
<body>
	<div>
		<table>
			<caption>Comments for approval</caption>
			<tr>
			<tr th:each="itKomentar, status: ${komentari}">
				<form method="post" action="Komentar/Edit">
				<td><input type="hidden" name="id" th:value="${itKomentar.id}" /></td>
				<td th:text="${itKomentar.text}"></td>
				<td th:text="${itKomentar.grade}"></td>
				<td><select name="status" th:value="${itKomentar.status}">
						<option value="waiting">Waiting</option>
						<option value="approved">Approved</option>
						<option value="not_approved">Not Approved</option>
				</select></td>
				<td><button type="submit">Save status</button></td>
				</form>
			</tr>
		</table>
	</div>
</body>
</html>