<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/Stranice.css" />
<head>
<title>Korisnici</title>
</head>
<body>
	<div>
		<div>
			<table>
				<caption>Izvestaj</caption>
				<thead>
				<tr>
				<th>Naziv knjige</th>
				<th>Slika korice</th>
				<th>Cena knjige</th>
				<th>Prosecna cena knjige</th>
				</tr>
				</thead>
				<tr th:each="itKorisnik, status: ${korisnik}">
					<td><a th:href="|Korisnik/Details?id=${itKorisnik.id}|"
						   th:text="${itKorisnik.username}"></a></td>
					<td th:text="${itKorisnik.password}"></td>
					<td th:text="${itKorisnik.email}"></td>
					<td th:text="${itKorisnik.firstname}"></td>
					<td th:text="${itKorisnik.lastname}"></td>
					<td th:text="${itKorisnik.birthDate}"></td>
					<td th:text="${itKorisnik.adress}"></td>
					<td th:text="${itKorisnik.phonenumber}"></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>