<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Profile</title>
</head>
<body>
	<div>
		<form method="get">
			<table>
			<tr th:each="itKorisnik, status: ${korisnik}">
					<td th:text="${status.index + 1}"></td>
				<caption th:text="${korisnik.username}"></caption>
				<caption th:text="${korisnik.password}"></caption>
				<caption th:text="${korisnik.email}"></caption>
				<caption th:text="${korisnik.firstname}"></caption>
				<caption th:text="${korisnik.lastname}"></caption>
				<caption th:text="${korisnik.birthDate}"></caption>
				<caption th:text="${korisnik.adress}"></caption>
				<caption th:text="${korisnik.phonenumber}"></caption>
			</table>
			<button th:if="${kartica == false}"><a href="LoyaltiKartica/NewCard">New Card</a></button>
		</form>
		<form method="get" action="Edit">
			<input type="hidden" name="username" th:value="${korisnik.username}" />
			<input type="submit" value="Izmeni" />
		</form>
	</div>
	<form method="post" action="LoyaltiKartica/NewCard">
			<button type ="submit"
				th:unless="${session.prijavljeniKorisnik == null}">Create new Card</button>
		</form>
</body>
</html>