<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
<title>Korpa</title>
</head>
<body>
<div >
		<form method="get">
			<table>
				<caption>Korpa</caption>
				<tr>
				<tr th:each="itElementiKorpe, status: ${elementiKorpe}">
					<td th:text="${status.index + 1}"></td>
					<td  th:text="${itElementiKorpe.brojKupovina}"></td>
					<td  th:text="${itElementiKorpe.knjiga.name}"></td>
					<td  th:text="${itElementiKorpe.knjiga.price}"></td>
					<td  th:text="${itElementiKorpe.knjiga.autor}"></td>
					<td><form method="post" action="RemoveElement">
					<input type="hidden" name="id" th:value="${itElementiKorpe.id}">
						<button type="submit"> obrisi element</button>
					</form></td>
					
					
				</form>
				</tr>
			</table>
				<form method="post" action="Checkout">
				<lable>Unesi broj bodova za popust</lable>
				<input type="number" name="bodovi" min="0" max="10" value = "0"/>
				<button type="submit">Zavrsi kupovinu</button>
				</form>
		</form>
	</div>

</body>
</html>