<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
<title>Loyalti Kartica</title>
</head>
<body>
	<div>
		<table>
			<caption>Cards for approval</caption>
			<tr>
			<tr th:each="itLoyaltiKartica, status: ${loyaltiKartica}">
				<form method="post" action="LoyaltiKartica/Izmena">
				<td><input type="hidden" name="id" th:value="${itLoyaltiKartica.id}" /></td>
				<td th:text="${itLoyaltiKartica.korisnik.username}"></td>
				<td><select name="statusKartice" th:value= "${loyaltiKartica.isStatusKartice}">
  					<option value="true">Nije prihvacena</option>
  					<option value="false">Prihvacena</option>
				</select></td>
				<td><button type="submit">Save status kartice</button></td>
				</form>
			</tr>
		</table>
	</div>
</body>
</html>