<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Prijava</title>
</head>
<body>
	<div>
		<form method="post" action="Login">
			<table>
				<caption>Prijava</caption>
				<tr><th>korisničko ime:</th><td><input type="text" name="username" required/></td></tr>
				<tr><th>lozinka:</th><td><input type="password" name="password" required/></td></tr>
				<tr><th></th><td><input type="submit" value="Prijava"/></td></tr>
			</table>
		</form>
		<p class="greska" th:text="${poruka}"></p>
	</div>
</body>
</html>