<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registracija</title>
</head>
<body>
	<div>
		<form method="post" action="Register">
			<table>	
				<caption>Registracija</caption>
				<tr><th>Korisnicko ime:</th><td><input type="text" name="username" required/></td></tr>
				<tr><th>Sifra:</th><td><input type="password" name="password" required/></td></tr>
				<tr><th>ponovljena lozinka:</th><td><input type="password" name="ponovljenaLozinka" required/></td></tr>
				<tr><th>e-mail:</th><td><input type="text" name="email" required/></td></tr>
				<tr><th>Ime:</th><td><input type="text" name="firstname" required/></td></tr>
				<tr><th>Prezime:</th><td><input type="text" name="lastname" required/></td></tr>
				<tr><th>Adresa:</th><td><input type="text" name="adress" required/></td></tr>
				<tr><th>Datum rodjenja:</th><td><input type="date" name="birthDate" required/></td></tr>
				<tr><th>Broj telefona:</th><td><input type="number" name="phonenumber" required/></td></tr>
				<tr><th></th><td><input type="submit" value="Registracija"/></td></tr>
			</table>
		</form>
		<p th:text="${poruka}"></p>
	</div>

</body>
</html>